<div class="card secondary-font body {{this.color}}">
	<div>
		#{{@game.code}} | {{ pluralize @game.totalUsers 'player'}}
	</div>
	{{#if (eq @game.status 1)}}
		<div class="clickable" {{action @enterGame @game}}>
			<Icon 
				@name='arrow-circle-right'
			/>
		</div>
	{{/if}}
	{{#if (eq @game.status 3)}}
		<div class="winner-txt">winner: {{or @game.winnerName '-'}}</div>
	{{/if}}
</div>