<LinkTo
	@route='game.detail'
	@model={{this.args.game.id}}
>
	<div class="card secondary-font body {{this.color}}">
		#{{this.args.game.code}} | {{ pluralize this.args.game.totalUsers 'player'}}
	</div>
	{{!-- {{fa-icon 'arrow-circle-right'}} --}}
</LinkTo>