<div class="card secondary-font body {{this.color}}">
	<div>
		#{{@game.code}} | {{ pluralize @game.totalUsers 'player'}}
	</div>
	{{#if (not-eq @game.totalUsers 2)}}
		<div class="clickable" {{action @enterGame @game}}>
			{{fa-icon 'arrow-circle-right'}}
		</div>
	{{/if}}
	{{#if (eq @game.status 3)}}
		<div class="winner-txt">winner: {{or @game.winnerName '-'}}</div>
	{{/if}}
</div>