<div class="code-tag flex justify-center align-center">#{{this.model.code}}</div>
{{#link-to 'game' class="close-btn"}}
	<Icon 
		@name='times-circle'
		@size='3x'
		@color='black'
		@prefix='far'
	/>
{{/link-to}}
<div class="flex row full-height">
	<div class="flex flex05 column justify-center align-center padded gray-light-bg">
		<div class="flex column">
			<div class="clickable" {{action 'selectMove' 1}}>
				<Icon
					@name='hand-rock'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 2}}>
				<Icon
					@name='hand-paper'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 3}}>
				<Icon
					@name='hand-scissors'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 4}}>
				<Icon
					@name='hand-lizard'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 5}}>
				<Icon
					@name='hand-spock'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
		</div>
		<button class="btn secondary-font body white-text" {{action 'startGame'}}>Start Game</button>
	</div>
	<div class="flex flex05 column justify-center align-center padded">
		<div class="flex column">
			<Icon 
				@name='hand-rock'
				@size='4x'
				@color='black'
				@prefix='far'
			/>
			<Icon 
				@name='hand-paper'
				@size='4x'
				@color='black'
				@prefix='far'
			/>
			<Icon 
				@name='hand-scissors'
				@size='4x'
				@color='black'
				@prefix='far'
			/>
			<Icon 
				@name='hand-lizard'
				@size='4x'
				@color='black'
				@prefix='far'
			/>
			<Icon 
				@name='hand-spock'
				@size='4x'
				@color='black'
				@prefix='far'
			/>
		</div>
	</div>
</div>