<div class="code-tag flex justify-center align-center">#{{this.model.game.code}}</div>
{{#link-to 'game' class="close-btn"}}
	<Icon 
		@name='times-circle'
		@size='3x'
		@color='black'
		@prefix='far'
	/>
{{/link-to}}
<div class="flex row full-height">
	<div class="flex flex05 column justify-center align-center padded gray-light-bg">
		<div class="flex column">
			<div class="clickable" {{action 'selectMove' 1}}>
				<Icon
					@name='hand-rock'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 2}}>
				<Icon
					@name='hand-paper'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 3}}>
				<Icon
					@name='hand-scissors'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 4}}>
				<Icon
					@name='hand-lizard'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
			<div class="clickable" {{action 'selectMove' 5}}>
				<Icon
					@name='hand-spock'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			</div>
		</div>
		<div class="margin-top">
			{{#if (eq this.model.game.status 3)}}
				SOMEONE WON!!!!
			{{/if}}
			{{#if (eq this.model.game.status 1)}}
				<button class="btn secondary-font body white-text" {{action 'startGame'}}>Start Game</button>
			{{/if}}
		</div>
	</div>
	<div class="flex flex05 column justify-center align-center padded">
		<div class="flex column">
			{{#if (eq this.model.game.totalUsers 2)}}
				<Icon 
					@name='hand-rock'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
				<Icon 
					@name='hand-paper'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
				<Icon 
					@name='hand-scissors'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
				<Icon 
					@name='hand-lizard'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
				<Icon 
					@name='hand-spock'
					@size='4x'
					@color='black'
					@prefix='far'
				/>
			{{else}}
				<div class="loader"></div>
				<div class="main-font body">
					Waiting for Player...
				</div>
			{{/if}}
		</div>
	</div>
</div>
