<div class="code-tag flex justify-center align-center">#{{this.model.game.code}}</div>
{{#link-to 'game' class="close-btn"}}
	<Icon 
		@name='times-circle'
		@size='3x'
		@color='black'
		@prefix='far'
	/>
{{/link-to}}
<div class="flex row full-height">
	<div class="flex flex05 column justify-center align-center padded gray-light-bg">
		<div class="flex column align-center">
			{{#if this.moves.userMove}}
				<div class="title">
					<Icon
						@name={{this.moves.userMove}}
						@size='4x'
						@color='black'
						@prefix='far'
					/>
				</div>
			{{else}}
				<div class="clickable small-margin-bottom {{if (eq this.model.game.status 2) 'bigger-on-hover'}}" {{action 'selectMove' 1}}>
					<Icon
						@name='hand-rock'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
				</div>
				<div class="clickable small-margin-bottom {{if (eq this.model.game.status 2) 'bigger-on-hover'}}" {{action 'selectMove' 2}}>
					<Icon
						@name='hand-paper'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
				</div>
				<div class="clickable small-margin-bottom {{if (eq this.model.game.status 2) 'bigger-on-hover'}}" {{action 'selectMove' 3}}>
					<Icon
						@name='hand-scissors'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
				</div>
				<div class="clickable small-margin-bottom {{if (eq this.model.game.status 2) 'bigger-on-hover'}}" {{action 'selectMove' 4}}>
					<Icon
						@name='hand-lizard'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
				</div>
				<div class="clickable small-margin-bottom {{if (eq this.model.game.status 2) 'bigger-on-hover'}}" {{action 'selectMove' 5}}>
					<Icon
						@name='hand-spock'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
				</div>
			{{/if}}
		</div>
		<div class="margin-top">
			{{#if (eq this.model.game.status 1)}}
				<button class="btn secondary-font body white-text" disabled={{or (eq this.model.game.totalUsers 1) this.isLoading}} {{action 'startGame'}}>
					{{if this.isLoading 'Starting Game...' 'Start Game'}}
				</button>
			{{/if}}
		</div>
	</div>
	<div class="flex flex05 column justify-center align-center padded">
		<div class="flex column align-center">
			{{#if (and this.moves.opponentMove this.moves.userMove)}}
				<div class="title">
					<Icon
						@name={{this.moves.opponentMove}}
						@size='4x'
						@color='black'
						@prefix='far'
					/>
				</div>
			{{else}}
				{{#if (eq this.model.game.totalUsers 2)}}
					<Icon 
						@name='hand-rock'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
					<Icon 
						@name='hand-paper'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
					<Icon 
						@name='hand-scissors'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
					<Icon 
						@name='hand-lizard'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
					<Icon 
						@name='hand-spock'
						@size='4x'
						@color='black'
						@prefix='far'
					/>
					{{#if (and (eq this.model.game.status 2) (not (and this.moves.opponentMove this.moves.userMove)))}}
						<div class="main-font small-text margin-top">
							Opponent is playing...
						</div>
					{{/if}}
				{{else}}
					<div class="loader"></div>
					<div class="main-font body">
						Waiting for Player...
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>
{{#if (eq this.model.game.status 3)}}
	<div class="completed flex column align-center">
		{{#if (eq this.model.game.winnerId this.selectedUser.user.id)}}
			<div class="win">
				Yay! You Won! :)
			</div>
		{{else}}
			<div class="lose">
				You lose :( 
			</div>
		{{/if}}
		<LinkTo class="btn secondary-font body white-text centered margin-top" @route="game">Main Menu</LinkTo>
	</div>
{{/if}}
