<div class="flex row full-height">
	<div class="flex flex05 column justify-center align-center padded gray-light-bg">
		<div class="flex row user-select small align-center">
			<PowerSelect
				@options={{this.model.players}}
				@placeholder='Select user'
				@selected={{this.user}}
				@onchange={{action 'setUser'}}
				@searchField='username'
				as |player|
			>
				{{player.username}}
			</PowerSelect>
		</div>
		<span class="main-font title">RPSLS</span>
		<button class="btn secondary-font body white-text" {{action 'createGame'}} disabled={{not this.hasMinimumData}}>create game</button>
	</div>
	<div class="flex flex05 column">
		<div class="margin-top padding-right">
			<div class="flex justify-space-between full-width align-center">
				<div class="main-font subtitle padded">Games</div>
				<div class="input-field-container">
					<input 
						class="input-field main-font" 
						placeholder="Search Game..." 
						value={{this.search}} 
						oninput={{action this.onSearch value="target.value"}}
					>
					{{#if this.search}}
						<div class="close-icon" {{action this.onSearch ''}}>
							<Icon
								@name='times'
								@size='2x'
								@color='black'
								@prefix='fa'
							/>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="game-list">
			{{#each this.model.games as |game|}}
				<GameCard 
					@game={{game}}
					@enterGame={{action 'enterGame'}}
				/>
			{{/each}}
		</div>
	</div>
</div>
<div class="float-btn clickable" {{action 'openModal'}}>
	<Icon 
		@name='question-circle'
		@prefix='far'
		@size='3x'
	/>
</div>

{{#if this.showModal}}
	<div class="overlay" {{action 'closeModal'}}>
	</div> 
	<div class="modal">
		<img class="rules" src="/imgs/rules.svg">
		{{!-- Scissors cuts paper. Paper covers rock. Rock crushes lizard. Lizard poisons Spock. Spock smashes scissors. Scissors decapitates lizard. Lizard eats paper. Paper disproves Spock. Spock vaporizes rock. Rock crushes scissors. --}}
	</div>
{{/if}}