<div class="flex full-width full-height">
	<div class="flex flex1 column justify-center align-center padded gray-light-bg">
		<span class="main-font title">RPSLS</span>
		<div class="margin-vertical">
			<PowerSelect
				@options={{this.model}}
				@placeholder='Select user'
				@selected={{this.selectedUser}}
				@onchange={{action (mut this.selectedUser)}}
				@searchField='username'
				as |player|
			>
				{{player.username}}
			</PowerSelect>
		</div>
		<button class="btn secondary-font body white-text" {{action 'enterGame'}}>enter</button>
	</div>
</div>