{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<h1 class="main-font">RPSLS</h1>
{{fa-icon 'arrow-circle-right'}}
{{fa-icon 'times-circle'}}
{{fa-icon 'hand-rock' prefix='far'}}
{{fa-icon 'hand-paper' prefix='far'}}
{{fa-icon 'hand-scissors' prefix='far'}}
{{fa-icon 'hand-lizard' prefix='far'}}
{{fa-icon 'hand-spock' prefix='far'}}
{{outlet}}